.modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.check-success {
    font-size: 80px !important;
    color: #d2bb90;
    padding: 26px;
}

.modal-inner p {
    padding: 20px;
}

.wallet-button {
    color: black !important;
    background: white !important;
    width: 100% !important;
    justify-content: space-between !important;
    text-transform: none !important;
    margin: 12px 0px !important;
}