.nav-container {
    width: 100%;
    display: flex;
}

.inner-nav {
    padding: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}

.nav-header {
    font-family: 'Orbitron',sans-serif;
}

.menu-container {
    width: 226px;
    height: 100%;
    background-color: rgb(0,0,0);
    padding: 12px;
}

.menu-list a {
    color: rgba(255,255,255,0.84);
    text-decoration: none;
    font-size: 20px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid wheat;
    margin: 10px 0px;
}

.menu-close {
    display: flex;
    justify-content: flex-end;
    color: rgba(255,255,255,0.84);
}

.menu-close:hover {
    color: rgb(255,255,255);
}

.menu-list a:hover {
    color: rgb(255,255,255);
}

.socials {
    display: flex;
    align-items: center;
}

.social-button{
    background-color: rgba(255,255,255,0.20) !important;
}

.down-arrow-button {
    /* background-color: #f5deb3d9 !important; */
}

.right-nav-container {
    margin-left: 12px;
    display: flex;
    transform: rotate(45deg);
}

.hero-img {
    position: relative;
    transform: scale(-1,1);
    padding-top: 180px;
}

.custom-button {
    width: 100% !important;
    color: white !important;
    border-radius: 36px !important;
    text-transform: none !important;
}

.primary {
    background-color: #20d5d5 !important;
}

.primary-text {
    color: #20d5d5 !important;
}

.secondary {
    background-color: #f5deb3 !important;
}

.disabled {
    background-color: rgba(255,255,255,0.15) !important;
    color: gray !important;
}

.secondary-text {
    color: #f5deb3 !important;
}

.timer-2 {
    color: rgb(255,255,255);
    transform: translateX(0%) rotateX(180deg);
    opacity: 0.20;
    position: relative;
    bottom: 4px;
}

.timer-container {
    padding: 20px;
}

.countdown-container {
    font-family: 'Roboto Mono',monospace;
}

.timer-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    border-width: 2px;
    border-image: linear-gradient(to top, wheat, rgba(0,0,0,0)) 1 20%;
    border-style: solid;
}

.progress{
    position: relative;
    margin: 4px;
    float:left;
    text-align: center;
  }
  .barOverflow{ /* Wraps the rotating .bar */
    position: relative;
    overflow: hidden; /* Comment this line to understand the trick */
    width: 250px; height: 125px; /* Half circle (overflow) */
    margin-bottom: -14px; /* bring the numbers up */
  }
  .bar{
    position: absolute;
    top: 0; left: 0;
    width: 250px; height: 250px; /* full circle! */
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid rgba(255,255,255,0.25);     /* half gray, */
    border-bottom-color: #20d5d5;  /* half azure */
    border-right-color: #20d5d5;
    transform: rotate(226deg);
    transition: transform 1.25s;
  }

.timer-container h3 {
    margin: 6px;
    font-size: 20px;
}

.timer-container label {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
}

.nft-stat {
    width: 100%;    
    position: relative;
    bottom: 100px;
    backdrop-filter: blur(6px);
}

.inner-stat{
    display: flex;
    text-align: left;
    padding: 16px;
    height: 188px;
    margin: auto;
    background-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    color: rgb(255,255,255);
}

.hero-desc p{
    font-size: 12px;
}

.hero-desc {
    width: 100%;
}

.small-social {
    width: 86% !important;
}

.medium {
    width: 232px !important;
}

.small {
    width: 168px !important;
}

.button-container {
    margin: 0px 4px;
}

.hero-div-top {
    width: 100%;
    height: 36px;
    z-index: 10;
    /* position: relative; */
    /* top: 80px; */
    background-color: white;
}

.hero-container {
    overflow: hidden;
}

.hero-div-bottom {
    width: 100%;
    height: 120px;
    z-index: 10;
    background-color: white;
}

.sign-up-primary {
    border-radius: 0px !important;
    border-color: hotpink !important;
    color: hotpink !important;
}

.log-in-secondary {
    border-radius: 0px !important;
    border: none !important;
    color: rgba(0,0,0,0.52) !important;
}
