.card-container {
    text-align: left;
    background-color: rgba(255,255,255,0.12);
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 12px rgba(47,47,47,0.82);
}

.card-inner {
    padding: 20px;
}

.roadmap-dot {
    border-radius: 50% !important;
    width: 18px !important;
    display: flex !important;
    justify-content: center !important;
    border-color: wheat !important;
    background-color: transparent !important;
    font-weight: bold !important;
    margin: 18px 0px !important;
    font-size: medium !important;
    letter-spacing: normal;
    line-height: normal;
}

.roadmap-seperator::before {
    content: none !important;
}

.roadmap-container {
    background: radial-gradient(rgba(255,255,255,0.16), black);
}

.roadmap-desc {
    color: rgba(255,255,255,0.82);
}

.roadmap-connector {
    background-color: wheat !important;
}

.card-header {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(245,222,179,0.12);
    justify-content: center;
    align-items: center;
}