.App {
  text-align: center;
}

.App p{
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.parallax-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  color: #ffffff;
}

.accent {
  color: wheat;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.75s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section-x {
  opacity: 0;
  transform: translateX(-10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible, .fade-in-section-x.is-visible, .ease-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.ease-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease-out;
  will-change: opacity, visibility;
}

.section-background {
  background: radial-gradient(closest-side,rgba(255,255,255,0.2),black 88%);
  padding: 26px;
}

.section {
  margin-bottom: 80px;
}

.hero-tab {
  margin-right: 20px;
  color: rgba(255,255,255,0.54);
}

.hero-tab:hover{
  cursor: pointer;
}

.active-tab {
  border-bottom: 1px solid white;
  color: white;
}

.section-small {
  margin-bottom: 24px;
}

.section-large {
  margin-bottom: 168px;
}

.primary-section {
  background-image: linear-gradient(to bottom right, wheat, rgb(255,255,255) 95%);
  color: rgb(0,0,0);
  padding: 26px;
}

.inner-main {
  backdrop-filter: blur(4px);
}

.body-container {
  
}

.parallax-group {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nft-img-side {
  width: 85%;
  animation: glow 4s infinite linear;
}

.nft-img-front {
  width: 120%;
  animation: glow 4s infinite linear;
}

@keyframes glow {
  0% {
    box-shadow: 0px 2px 16px rgb(119, 114, 103);
  }
  50% {
    box-shadow: 0px 2px 28px wheat;
  }
  100% {
    box-shadow: 0px 2px 16px rgb(119, 114, 103);
  }
}

.divider {
  width: 100%;
  border: 1px solid wheat;
}

.utility-section, .utility-section-inverted {
  text-align: left;
  margin: 80px 0px;
}

.faq-container {

}

.float {
  animation: float 4s infinite linear;
}

.float-slow {
  animation: float 8s infinite ease-in-out;
}

.float-medium {
  animation: float 6s infinite linear;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0px);
  }
}

.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.nft-img-container {
  margin: 16px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

  .section-large {
    margin-bottom: 28%;
  }

  .primary-section {
    padding: 100px;
  }

  .utility-section {
    display: flex;
    align-items: center;
    margin: 148px 0px;
  }

  .utility-section-inverted {
    display: flex;
    align-items: center;
    margin: 148px 0px;
    flex-direction: row-reverse;
  }

  .utility-left {
    width: 60%;
  }

  .utility-right {
    width: 40%;
  }

  .faq-container {
    padding: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 925px){

  .section-large {
    margin-bottom: 280px;
  }

  .primary-section {
    padding: 100px;
  }

  .faq-container {
    padding: 50px;
  }

  .utility-section {
    display: flex;
    align-items: center;
    margin: 148px 0px;
  }

  .utility-section-inverted {
    display: flex;
    align-items: center;
    margin: 148px 0px;
    flex-direction: row-reverse;
  }

  .utility-left {
    width: 60%;
  }

  .utility-right {
    width: 40%;
  }
}

@media screen and (min-width: 925px) {
  .primary-section {
    padding: 100px;
  }

  .section-large {
    margin-bottom: 28%;
  }

  .utility-section {
    display: flex;
    align-items: center;
    margin: 148px 0px;
  }

  .utility-section-inverted {
    display: flex;
    align-items: center;
    margin: 148px 0px;
    flex-direction: row-reverse;
  }

  .utility-left {
    width: 60%;
  }

  .utility-right {
    width: 40%;
  }
}
