html,body {
  margin: 0;
  font-family: 'Montserrat', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0,0,0);
  font-size: large;
  letter-spacing: 2px;
  line-height: 26px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat', 'Courier New',
    monospace;
}

.main-container {
  background-image: url('./assets/background2.jpg');
}
